{% extends "profile_app/base.html" %}
{% load static %}
{% block content %}

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row recent_update_text">
      <div class="col-lg-3">
          <div class="pretty-image" style="background-image: linear-gradient(#5e3d7e, #2e788a);">

          </div>
      </div>
      <div class="col-lg-9">
        <div class="section_content">
          <h6>Friends</h6>
          <h1>My Friends</h1>

          <div class="success">
          {% if friendsUnconfirmed %}
            {% for friend in friendsUnconfirmed %}
               {% if friend.user1.username == username %}
                 <ul>{{friend.user2}} wants to be your friend! <a href="{% url 'update_friend' friend.user2.id %}"> Confirm</a> </ul>
               {% else %}
                 <ul>{{friend.user1}} wants to be your friend! <a href="{% url 'update_friend' friend.user1.id %}"> Confirm</a></ul>
               {% endif %}
             {% endfor %}
          {% endif %}
          </div>


          {% if friendsConfirmed %}
             {% for friend in friendsConfirmed %}
                {% if friend.user1.username == username %}
                  <ul>{{friend.user2}}</ul>
                {% else %}
                  <ul>{{friend.user1}}</ul>
                {% endif %}
              {% endfor %}
          {% else %}
              <p>You have no friends</p>
          {% endif %}
          <p></p>
          <form method="post">
            {% csrf_token %}
            {{searchEngine.as_p}}
            <input class="primary_btn" type="submit" name="" value="Add Friend">
          </form>
          <p>{{searchResult}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
